.container {
  background-color: #cfe8ff;
  border-radius: 20px;
  padding: 5%;
  margin: 2%;
  box-shadow: 5px 5px;
}

.home-container {
  display: flex;
  width: 50%;
  margin: auto;

  .profile-container {
    display: flex;
    width: 100%;

    .profile-img {
      img {
        width: 10em;
        height: 10em;
      }
    }

    .user-info {
      margin: auto;
      width: 100%;
      margin-left: 10%;

      .username {
        font-size: xx-large;
        margin-bottom: 2%;
      }

      .record {
        font-size: large;
        opacity: 0.5;
      }
    }
  }

  .search-game-container {
    width: 100%;
    
    select,
    button {
      font-size: x-large;
      padding: 3% 0;
      border-radius: 5px;
      width: 100%;
    }

    select {
      margin-bottom: 8%;
    }
  }
}
