<div class="home-container">
    <div class="container profile-container">
        <div class="profile-img">
            <img src="assets/no-profile-image.png" alt="">
        </div>
        <div class="user-info">
            <p class="username">{{username}}</p>
            <p *ngIf="recordDataLoaded && playerIsGuest" class="record"> Log in to see your record! </p>
            <p *ngIf="recordDataLoaded && !playerIsGuest" class="record"> {{ record.wins + " - " + record.draws + " - " + record.losses }}</p>
        </div>
    </div>
    <div class="container search-game-container">
        <!-- Instead of dropdown, red and yellow circle to choose from -->
        <div class="colors-container">
            <div class="color-container left">
                <p>You</p>
                <select [(ngModel)]="myColor">
                    <option *ngFor="let color of colors">{{color}}</option>
                </select>
            </div>
            <div class="color-container">
                <p>Opponent</p>
                <select [(ngModel)]="opponentsColor">
                    <option *ngFor="let color of colors">{{color}}</option>
                </select>
            </div>
        </div>
        <button class="button" (click)="searchGame()">Search game</button>
    </div>
</div>