<div class="home-container">
    <div class="container profile-container">
        <div class="profile-img">
            <img src="assets/no-profile-image.png" alt="">
        </div>
        <div class="user-info">
            <p class="username">Jussi995</p>
            <p class="record">14 - 2 - 8</p>
        </div>
    </div>
    <div class="container search-game-container">
        <!-- Instead of dropdown, red and yellow circle to choose from -->
        <select>
            <option>Red</option>
            <option>Yellow</option>
        </select>
        <button class="button" (click)="searchGame()">Search game</button>
    </div>
</div>