.home-container {
  display: flex;
  width: 60%;
  margin: auto;

  .profile-container {
    display: flex;
    width: 100%;

    .profile-img {
      img {
        width: 10em;
        height: 10em;
      }
    }

    .user-info {
      margin: auto;
      width: 100%;
      margin-left: 10%;

      .username {
        font-size: xx-large;
        margin-bottom: 2%;
      }

      .record {
        font-size: large;
        opacity: 0.5;
      }
    }
  }

  .search-game-container {
    width: 100%;

    .colors-container {
      display: flex;

      .color-container {
        width: 100%;
        padding-bottom: 1%;
        
        p {
          font-size: x-large;
          padding-bottom: 5%;
        }
      }

      .color-container.left {
        margin-right: 4%;
      }
    }

    select,
    button {
      font-size: x-large;
      padding: 3% 0;
      border-radius: 5px;
      width: 100%;
    }

    select {
      margin-bottom: 8%;
    }
  }
}
