<div class="body">
    <div class="title-container">
        <p class="container ">Connect 4</p>
    </div>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="loggedIn" class="log-out-button-container">
        <input (click)="logOut()" class="container button" type="button" value="Sign out">
    </div>
    <div class="footer-container">
        <div class="footer">
            <hr>
            <p >Connect 4 - Jussi Hailu (414093) © </p>
        </div>
    </div>
</div>